####
# CocoaPods
Pods/
!Podfile
!Podfile.lock

## Build generated
build/
DerivedData/


# OS X temporary files that should never be committed
.DS_Store
*xcuserdata/
*.swp
*.lock
profile

####
# Xcode temporary files that should never be committed
*~.nib

## User settings
xcuserdata/

